@page "/weaponshop"

@inject NavigationManager NavigationManager

<h1>武器商</h1>

<ul>
    <li><a href="#" @onclick="() => ForgeItem(5, ForgeItemType.Armor)">鍛造鎧甲</a></li>
    <li><a href="#" @onclick="() => ForgeItem(10, ForgeItemType.Weapon)">鍛造武器</a></li>
</ul>

<p>玩家金幣：@Player?.Coins</p> <!-- 使用 ?. 運算符以防止 Player 為 null 造成的異常 -->

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p>@errorMessage</p>
}

<button @onclick="GoBack">離開商店</button>

@code {
    [Inject]
    private Player? Player { get; set; }

    private string errorMessage = string.Empty; // 初始化 errorMessage 為空字符串

    private enum ForgeItemType
    {
        Armor = 1,
        Weapon = 2
    }

    private void ForgeItem(int cost, ForgeItemType itemType)
    {
        if (Player?.Coins >= cost) // 使用 ?. 運算符以防止 Player 為 null 造成的異常
        {
            Player.Coins -= cost;
            switch (itemType)
            {
                case ForgeItemType.Armor:
                    Player.Defense += 1;
                    break;
                case ForgeItemType.Weapon:
                    Player.Attack += 1;
                    break;
                default:
                    break;
            }
            errorMessage = "成功"; // 重置錯誤訊息
        }
        else
        {
            errorMessage = "金幣不足";
        }
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/town");
    }
}
